<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eco.easycook.mapper.EcCollectMapper" >
  <resultMap id="BaseResultMap" type="com.eco.easycook.pojo.EcCollect" >
    <id column="ec_id" property="ecId" jdbcType="INTEGER" />
    <result column="ec_cid" property="ecCid" jdbcType="INTEGER" />
    <result column="ec_vid" property="ecVid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ec_id, ec_cid, ec_vid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ec_collect
    where ec_id = #{ecId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ec_collect
    where ec_id = #{ecId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.eco.easycook.pojo.EcCollect" >
    <selectKey resultType="java.lang.Integer" keyProperty="ecId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ec_collect (ec_cid, ec_vid)
    values (#{ecCid,jdbcType=INTEGER}, #{ecVid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.eco.easycook.pojo.EcCollect" >
    <selectKey resultType="java.lang.Integer" keyProperty="ecId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ec_collect
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ecCid != null" >
        ec_cid,
      </if>
      <if test="ecVid != null" >
        ec_vid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ecCid != null" >
        #{ecCid,jdbcType=INTEGER},
      </if>
      <if test="ecVid != null" >
        #{ecVid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eco.easycook.pojo.EcCollect" >
    update ec_collect
    <set >
      <if test="ecCid != null" >
        ec_cid = #{ecCid,jdbcType=INTEGER},
      </if>
      <if test="ecVid != null" >
        ec_vid = #{ecVid,jdbcType=INTEGER},
      </if>
    </set>
    where ec_id = #{ecId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eco.easycook.pojo.EcCollect" >
    update ec_collect
    set ec_cid = #{ecCid,jdbcType=INTEGER},
      ec_vid = #{ecVid,jdbcType=INTEGER}
    where ec_id = #{ecId,jdbcType=INTEGER}
  </update>

  <delete id="delBycidAndUid" parameterType="com.eco.easycook.pojo.EcCollect">
    delete from ec_collect where ec_cid = #{ecCid,jdbcType=INTEGER} and ec_vid = #{ecVid,jdbcType=INTEGER};
  </delete>


  <delete id="delBycid" >
    delete from ec_collect where ec_cid = #{cid};
  </delete>
</mapper>