<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eco.easycook.mapper.EcCommentMapper" >
  <resultMap id="BaseResultMap" type="com.eco.easycook.pojo.EcComment" >
    <id column="ec_cid" property="ecCid" jdbcType="INTEGER" />
    <result column="storyid" property="storyId" jdbcType="INTEGER" />
    <result column="ec_vid" property="ecVid" jdbcType="INTEGER" />
    <result column="ec_connent" property="ecConnent" jdbcType="VARCHAR" />
    <result column="ec_time" property="ecTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ec_cid, storyid, ec_vid, ec_connent, ec_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ec_comment
    where ec_cid = #{ecCid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ec_comment
    where ec_cid = #{ecCid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.eco.easycook.pojo.EcComment" >
    insert into ec_comment (ec_cid, storyId, ec_vid,
      ec_connent, ec_time)
    values (#{ecCid,jdbcType=INTEGER}, #{storyId,jdbcType=INTEGER}, #{ecVid,jdbcType=INTEGER},
      #{ecConnent,jdbcType=VARCHAR}), now()
  </insert>
  <insert id="insertSelective" parameterType="com.eco.easycook.pojo.EcComment" >
    insert into ec_comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ecCid != null" >
        ec_cid,
      </if>
      <if test="storyId != null" >
        storyid,
      </if>
      <if test="ecVid != null" >
        ec_vid,
      </if>
      <if test="ecConnent != null" >
        ec_connent,
      </if>
      <if test="ecTime != null" >
        ec_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ecCid != null" >
        #{ecCid,jdbcType=INTEGER},
      </if>
      <if test="storyId != null" >
        #{storyId,jdbcType=INTEGER},
      </if>
      <if test="ecVid != null" >
        #{ecVid,jdbcType=INTEGER},
      </if>
      <if test="ecConnent != null" >
        #{ecConnent,jdbcType=VARCHAR},
      </if>
      <if test="ecTime != null" >
        #{ecTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eco.easycook.pojo.EcComment" >
    update ec_comment
    <set >
      <if test="storyId != null" >
        storyid = #{storyId,jdbcType=INTEGER},
      </if>
      <if test="ecVid != null" >
        ec_vid = #{ecVid,jdbcType=INTEGER},
      </if>
      <if test="ecConnent != null" >
        ec_connent = #{ecConnent,jdbcType=VARCHAR},
      </if>
    </set>
    where ec_cid = #{ecCid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eco.easycook.pojo.EcComment" >
    update ec_comment
    set storyid = #{storyId,jdbcType=INTEGER},
      ec_vid = #{ecVid,jdbcType=INTEGER},
      ec_connent = #{ecConnent,jdbcType=VARCHAR}
    where ec_cid = #{ecCid,jdbcType=INTEGER}
  </update>
  
  <select id="select" resultType="java.util.HashMap">
SELECT c.ec_cid as ecCid, c.ec_connent as ecConnent, c.ec_time as ecTime, u.ec_uid as uid, u.ec_username as username
 FROM ec_comment c
 INNER JOIN ec_story s ON
 s.ec_sid = c.storyid
 INNER JOIN ec_user u
ON u.ec_uid = c.ec_vid AND c.storyid = #{storyid}
ORDER BY c.ec_time
  </select>


  <select id="selectCommentCountById" resultType="com.eco.easycook.pojo.EcComment">
    SELECT COUNT(storyid) as counts, storyid FROM ec_comment c
        INNER JOIN ec_story s ON
        s.ec_sid = c.storyid
        INNER JOIN ec_attention a ON
        a.ec_vid = s.ec_uid AND a.ec_uid = #{userId}
 GROUP BY storyid
  </select>
  <select id="selectCommentCount" resultType="com.eco.easycook.pojo.EcComment">
SELECT COUNT(storyid) as counts, ec_seestoryid FROM ec_comment GROUP BY  storyid
  </select>
</mapper>