<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eco.easycook.mapper.EcStoryMapper" >
  <resultMap id="BaseResultMap" type="com.eco.easycook.pojo.EcStory" >
    <id column="ec_sid" property="ecSid" jdbcType="INTEGER" />
    <result column="ec_uid" property="ecUid" jdbcType="INTEGER" />
    <result column="ec_scontent" property="ecScontent" jdbcType="VARCHAR" />
    <result column="ec_time" property="ecTime" jdbcType="VARCHAR" />
    <result column="ec_title" property="ecTitle" jdbcType="VARCHAR" />
    <result column="ec_flag" property="ecFlag" jdbcType="INTEGER" />
    <result column="ec_votecount" property="ecVoteCount" jdbcType="INTEGER" />
    <result column="ec_commentcount" property="ecCommentCount" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="MyResultMap" type="com.eco.easycook.pojo.EcStory" extends="BaseResultMap">
    <association property="user" javaType="com.eco.easycook.pojo.EcUser">
      <id column="ec_uid" property="ecUid" jdbcType="INTEGER" />
      <result column="ec_username" property="ecUsername" jdbcType="VARCHAR" />
    </association>
    <collection property="img" ofType="com.eco.easycook.pojo.EcStoryimg">
      <id column="ec_simgid" property="ecSimgid" jdbcType="INTEGER" />
      <result column="ec_simgurl" property="ecSimgurl" jdbcType="VARCHAR" />
      <result column="storyid" property="storyid" jdbcType="INTEGER" />
    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    ec_sid, ec_uid, ec_scontent, ec_time, ec_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ec_story
    where ec_sid = #{ecSid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ec_story
    where ec_sid = #{ecSid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.eco.easycook.pojo.EcStory" >
    insert into ec_story (ec_sid,ec_title, ec_uid, ec_scontent,
      ec_time, ec_flag)
    values (#{ecSid,jdbcType=INTEGER},#{ecTitle,jdbcType=VARCHAR}, #{ecUid,jdbcType=INTEGER}, #{ecScontent,jdbcType=VARCHAR},
      now(), #{ecFlag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.eco.easycook.pojo.EcStory" >
    insert into ec_story
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ecSid != null" >
        ec_sid,
      </if>
      <if test="ecUid != null" >
        ec_uid,
      </if>
      <if test="ecScontent != null" >
        ec_scontent,
      </if>
      <if test="ecTime != null" >
        ec_time,
      </if>
      <if test="ecFlag != null" >
        ec_flag,
      </if>
      <if test="ecVoteCount != null" >
        ec_votecount,
      </if>
      <if test="ecCommentCount != null" >
        ec_commentcount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ecSid != null" >
        #{ecSid,jdbcType=INTEGER},
      </if>
      <if test="ecUid != null" >
        #{ecUid,jdbcType=INTEGER},
      </if>
      <if test="ecScontent != null" >
        #{ecScontent,jdbcType=VARCHAR},
      </if>
      <if test="ecTime = null" >
        now()
      </if>
      <if test="ecFlag != null" >
        #{ecFlag,jdbcType=INTEGER},
      </if>
            <if test="ecVoteCount != null" >
        #{ecVoteCount,jdbcType=INTEGER},
      </if>
            <if test="ecCommentCount != null" >
        #{ecCommentCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eco.easycook.pojo.EcStory" >
    update ec_story
    <set >
      <if test="ecUid != null" >
        ec_uid = #{ecUid,jdbcType=INTEGER},
      </if>
      <if test="ecScontent != null" >
        ec_scontent = #{ecScontent,jdbcType=VARCHAR},
      </if>
      <if test="ecTime != null" >
        ec_time = #{ecTime,jdbcType=VARCHAR},
      </if>
      <if test="ecFlag != null" >
        ec_flag = #{ecFlag,jdbcType=INTEGER},
      </if>
    </set>
    where ec_sid = #{ecSid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eco.easycook.pojo.EcStory" >
    update ec_story
    set ec_uid = #{ecUid,jdbcType=INTEGER},
      ec_scontent = #{ecScontent,jdbcType=VARCHAR},
      ec_time = #{ecTime,jdbcType=VARCHAR},
      ec_flag = #{ecFlag,jdbcType=INTEGER}
    where ec_sid = #{ecSid,jdbcType=INTEGER}
  </update>

  <select id="selectByUserId" resultMap="MyResultMap">
    SELECT st.ec_sid,st.ec_title, st.ec_uid,st.ec_commentcount,st.ec_scontent, st.ec_votecount,us.ec_username,st.ec_time, si.ec_simgurl FROM ec_story st
       INNER JOIN ec_attention att
       ON st.ec_uid = att.ec_vid
       INNER JOIN ec_user us
       ON att.ec_uid = us.ec_uid
       LEFT JOIN ec_storyimg si
       ON st.ec_sid = si.storyid
    WHERE att.ec_uid = 1 AND st.ec_flag = 2
  </select>

  <select id="selectWithVoteNum" resultMap="MyResultMap" >
    SELECT st.ec_sid,st.ec_title, st.ec_uid,st.ec_commentcount,st.ec_scontent, st.ec_votecount,us.ec_username,st.ec_time, si.ec_simgurl
     FROM ec_story st
       LEFT JOIN ec_user us
       ON st.ec_uid = us.ec_uid
       LEFT JOIN ec_storyimg si
       ON st.ec_sid = si.storyid
    WHERE st.ec_flag = 2
    ORDER BY st.ec_votecount DESC
  </select>
  <select id="selectWithPutTime" resultMap="MyResultMap">
    SELECT st.ec_sid,st.ec_title, st.ec_uid,st.ec_commentcount,st.ec_scontent, st.ec_votecount,us.ec_username,st.ec_time, si.ec_simgurl
    FROM ec_story st
    LEFT JOIN ec_user us
    ON st.ec_uid = us.ec_uid
    LEFT JOIN ec_storyimg si
    ON st.ec_sid = si.storyid
    WHERE st.ec_flag = 2
    ORDER BY st.ec_time DESC
  </select>

</mapper>