<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eco.easycook.mapper.EcStepMapper" >
  <resultMap id="BaseResultMap" type="com.eco.easycook.pojo.EcStep" >
    <id column="ec_id" property="ecId" jdbcType="INTEGER" />
    <result column="ec_cid" property="ecCid" jdbcType="INTEGER" />
    <result column="ec_content" property="ecContent" jdbcType="INTEGER" />
    <result column="imgurl" property="imgurl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ec_id, ec_cid, ec_content, imgurl
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ec_step
    where ec_id = #{ecId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ec_step
    where ec_id = #{ecId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.eco.easycook.pojo.EcStep" >
    insert into ec_step (ec_id, ec_cid, ec_content, 
      imgurl)
    values (#{ecId,jdbcType=INTEGER}, #{ecCid,jdbcType=INTEGER}, #{ecContent,jdbcType=INTEGER}, 
      #{imgurl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.eco.easycook.pojo.EcStep" >
    insert into ec_step
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ecId != null" >
        ec_id,
      </if>
      <if test="ecCid != null" >
        ec_cid,
      </if>
      <if test="ecContent != null" >
        ec_content,
      </if>
      <if test="imgurl != null" >
        imgurl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ecId != null" >
        #{ecId,jdbcType=INTEGER},
      </if>
      <if test="ecCid != null" >
        #{ecCid,jdbcType=INTEGER},
      </if>
      <if test="ecContent != null" >
        #{ecContent,jdbcType=INTEGER},
      </if>
      <if test="imgurl != null" >
        #{imgurl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eco.easycook.pojo.EcStep" >
    update ec_step
    <set >
      <if test="ecCid != null" >
        ec_cid = #{ecCid,jdbcType=INTEGER},
      </if>
      <if test="ecContent != null" >
        ec_content = #{ecContent,jdbcType=INTEGER},
      </if>
      <if test="imgurl != null" >
        imgurl = #{imgurl,jdbcType=VARCHAR},
      </if>
    </set>
    where ec_id = #{ecId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eco.easycook.pojo.EcStep" >
    update ec_step
    set ec_cid = #{ecCid,jdbcType=INTEGER},
      ec_content = #{ecContent,jdbcType=INTEGER},
      imgurl = #{imgurl,jdbcType=VARCHAR}
    where ec_id = #{ecId,jdbcType=INTEGER}
  </update>
</mapper>